*{
    margin: 0; padding: 0;
}
nav img{
    width: 100px;
}

.welcome-part button{
    margin-top: 5%;
}
.section-heading{
    text-align: center;
    padding: 10%;
}

.contact-row{
    display: flex;
    flex-direction: column-reverse;
}
.contact-right{
    display: block;
    width: 100%;
    margin: 20px auto;
}
.contact-left{
    width: 90%;
    margin: auto;
}

.custom-contact-card{
    text-align: center;
}
form{
    width: 80%;
}
form button{
    margin: 2%;
}